.footer {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer-link {
	color: grey;
	padding: 1rem 4rem;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 0.7rem;
}
