.header {
  background-color: black;
  color: white;
  padding-right: 4rem;
}

.header,
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.slanting-background {
  color: black;
  width: 25rem;
  height: 0rem;
  border-bottom: 5.5rem solid white;
  border-right: 4rem solid transparent;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo img {
  height: 2rem;
}

.navbar-link {
  text-transform: uppercase;
  font-weight: normal;
}

.header-button button {
  background-color: #fff;
  border: none;
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
}
