.side-padding {
  padding: 0 4rem;
}

.authentication {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  color: black;
}
a:visited {
  color: black;
}